.main{
    background-color: #fff;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.img{
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-position:  center;
    background-size: contain;
    border-radius: 60px;
}
.title{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    color: rgb(224, 129, 129);
}
.city{
    margin: auto;
    max-width: 255px;
    font-size: 17px;
    line-height: 20px;
}

.container{
    width: 500px;
    border: rgb(228, 143, 223) 15px solid;
    margin: 10px;

    
}

